* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #dc3545;
  --secondary-color: #1b72e8;
  --third-color: #f26551;
  --fourth-color: #198754;
  --fivth-color: #165bba;
  --sixth-color: white;
  --seventh-color: #051e34;
}

.wrapper {
  height: 95%;
  display: flex;
}

.bigwrapper {
  height: 100vh;
  width: 100%;
}

.ms_style-row-left {
  color: var(--sixth-color);
  background-color: var(--seventh-color);
  font-size: 2rem;
}

.ms_setting {
  margin-top: 59rem;
}

.ms_padding-right {
  padding-right: 100px;
}

.ms_btn {
  background-color: var(--fivth-color);
  text-decoration: none;
  border-radius: 20px;
  padding: 4px;
  color: var(--sixth-color);
}

.ms_datas {
  background-color: var(--secondary-color);
  color: white;
  height: 25%;
}

.ms_img {
  height: 30px;
  width: 30px;
}

span img {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.ms_table-height {
  height: 60rem;
}

th,
td {
  vertical-align: middle;
}

.img-stats {
  height: 100%;
  width: 100%;
  padding: 1px;
}

::placeholder {
  font-size: 1rem;
}

/* HEADER */

.ms_input-header {
  height: 3rem;
}

.bell-header {
  border: none;
  color: orange;
}

/* PSEUDO */

/* RESPONSIVE */

@media screen and (min-width: 768px) {
  .ms_padding-right {
    padding-right: 2px;
  }

  .ms_img {
    height: 50px;
    width: 50px;
  }

  .ms_datas {
    font-size: 1.5rem;
    height: 20%;
  }
}
